@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Poppins:400,700');

$body-font: 'Inconsolata', monospace;
$header-font: 'Poppins', sans-serif;

// Define font default color

$font-default-color: rgba(38,42,45,100);
$menu-hover-color: rgba(52,130,234,100);